@page "/databaseConnection"

<h3>DatabaseConnection</h3>

@if (isConnected)
{
    <h3>Successfully connected to database!</h3>
}
else
{
    <h3>Something went wrong when connecting to database!</h3>
}